@model CarRentalService.ViewModels.IssueSRVehicleVM

@{
    ViewData["Title"] = "Start Servicing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Start Servicing</h1>
<div>Vehicle: @Model.Vehicle.Year @Model.Vehicle.Make @Model.Vehicle.Model</div>
<div>Issue: @Model.Issue.ServiceNeeded</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Issue"/>
            <input type="hidden" asp-for="Vehicle"/>
            <input type="hidden" asp-for="Employee"/>
            <input type="hidden" asp-for="ServiceReceipt">

            <div class="text-dark"><input type="checkbox" required> I acknowledge that the vehicle matches the previously taken photos</div>
            <div class="text-dark"><input type="checkbox" required> I acknowledge that I am taking responsibility to fix the issue</div>
            <div class="form-group">
                <input type="submit" value="Service" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

