@model bool
@{if (Model.Equals(true))
    {
        ViewData["Title"] = "Payment Successful!";

        <h1>Payment Successful!</h1>
        <p> @ViewBag.PaymentInfo</p>
    }
    else
    {
        ViewData["Title"] = "Payment Failed";
        
        <h1>Payment failed!</h1>
        <p> @ViewBag.Exception </p>
    }
}
