@model bool
@{if (Model.Equals(true))
    {
        ViewData["Title"] = "Payment Successful!";

        <h1 style="color:green;">Payment Successful!</h1>
        <ul>
            <li>Amount Paid: $@ViewBag.PaymentTotal</li>
            <li>Receipt Email: @ViewBag.PaymentInfo.ReceiptEmail  </li>
            <li>Description: @ViewBag.PaymentInfo.Description </li>
        </ul>
    }
    else
    {
        ViewData["Title"] = "Payment Failed";
        
        <h1 style="color:red;">Payment failed!</h1>
        <p> @ViewBag.Exception </p>
    }
}
