@model CarRentalService.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <div asp-action="Details" class="col-3 btn-secondary">Profile</div>
        <div asp-action="TripPage"  type="button" class="col-3 btn btn-primary">Trip</div>
</div>

<h1>Trip Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>