@model CarRentalService.ViewModels.TripViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trip Page</h1>

<div id="TripStatus" data-status=@Model.TripStatus data-id=@Model.TripID data-endDestination="Some Where" data-odometer=@Model.Odometer></div>
<div id="MainArea">Place Holder Values</div>
